#!/usr/bin/make -f

%:
	dh $@ --with dkms

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_install:
override_dh_auto_clean:
	# We're only interested in the source

override_dh_dkms:
	dh_dkms -V
